<div class="container__medium-card">
  <div class="medium-card__picture">
    <img src="https://www.dwinawan.com/blog/thumb_article23.jpg" alt="medium-card-thumb" >
  </div>
  <div class="medium-card__date">
    <span>January 8, 2025</span>
  </div>
  <div class="medium-card__title">
    <h1><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a></h1>
  </div>
  <div class="medium-card__description">
    <p><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, quia molestiae. Molestias culpa id amet. Qui optio beatae error repellendus cupiditate neque assumenda?</a></p>
  </div>
</div>
