<div class="container__big-card">
  <div class="big-card__picture">
    <img src="https://www.dwinawan.com/blog/thumb_article20.jpg" alt="big-card-thumb" >
  </div>
  <div class="big-card__date">
    <span>January 8, 2025</span>
  </div>
  <div class="big-card__title">
    <h1><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a></h1>
  </div>
  <div class="big-card__description">
    <p><a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea, a perferendis. Odio tempore alias rem voluptatem.</a></p>
  </div>
</div>
