.container__menu-title > h1 {
  display: flex;
  justify-content: center;
  font-size: 16rem;
  color: #FFF;
}

.container__menu-title {
  margin-top: 20px;
  margin-bottom: 5px;
  border-top: 0.5px solid #3B3B3B;
  border-bottom: 0.5px solid #3B3B3B;
}
