@media (min-width: 1180px) and (max-width: 1400px) {
  .small-card__picture > img {
    width: 275px;
  }
}

@media (max-width: 1180px) {
  .container__small-card {
    justify-content: center;
    margin-right: 0;
  }

  .small-card__picture {
    margin-right: 25px;
    order: 2;
  }

  .small-card__picture > img {
    width: 50vw;
  }

  .small-card__content {
    margin: 20px;
  }
}
