.container__small-card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 15px;
  margin-right: 30px;
  margin-bottom: 15px;
  border-bottom: 1px solid #3B3B3B;
}

.small-card__picture {
  width: 60%;
  height: 100%;
  margin-right: 20px;
}

.small-card__picture > img {
  width: 100%;
}

.small-card__date {
  margin-bottom: 10px;
}

.small-card__date > span {
  font-size: 12px;
  font-weight: bold;
  color: #3B3B3B;
}

.small-card__title > h1 {
  font-size: 20px;
}

.small-card__title > h1 > a {
  color: #FFF;
}
