<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card photoCover="https://www.dwinawan.com/blog/thumb_article20.jpg" cardDate="January 8, 2025" cardTitle="Lorem ipsum dolor sit amet, consectetur." cardDescription="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, quia molestiae. Molestias culpa id amet. Qui optio beatae error repellendus cupiditate neque assumenda?"></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card cardTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit." cardDate="January 7, 2025" photoCover="https://www.dwinawan.com/blog/thumb_article30.jpg"></app-small-card>
    <app-small-card cardTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit." cardDate="December 28, 2024" photoCover="https://www.dwinawan.com/blog/thumb_article24.jpg"></app-small-card>
    <app-small-card cardTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit." cardDate="December 9, 2024" photoCover="https://www.dwinawan.com/blog/thumb_article12.jpg"></app-small-card>
  </div>
</div>
<div class="container__bottom">
  <h4>More articles</h4>
  <div class="articles__area">
    <app-medium-card
      cardCover="https://www.dwinawan.com/blog/thumb_article23.jpg"
      cardDate="November 30, 2024"
      cardTitle="Lorem ipsum dolor sit amet, consectetur adipisicing elit."
      cardDescription="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, quia molestiae. Molestias culpa id amet. Qui optio beatae error repellendus cupiditate neque assumenda?"
    >
    </app-medium-card>
    <app-medium-card
      cardCover="https://www.dwinawan.com/blog/thumb_article15.jpg"
      cardDate="November 19, 2024"
      cardTitle="Lorem ipsum dolor sit amet, consectetur adipisicing elit."
      cardDescription="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, quia molestiae. Molestias culpa id amet. Qui optio beatae error repellendus cupiditate neque assumenda?"
    >
    </app-medium-card>
    <app-medium-card
      cardCover="https://www.dwinawan.com/blog/thumb_article4.jpg"
      cardDate="November 12, 2024"
      cardTitle="Lorem ipsum dolor sit amet, consectetur adipisicing elit."
      cardDescription="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, quia molestiae. Molestias culpa id amet. Qui optio beatae error repellendus cupiditate neque assumenda?"
    >
    </app-medium-card>
    <app-medium-card
      cardCover="https://www.dwinawan.com/blog/thumb_article14.jpg"
      cardDate="November 11, 2024"
      cardTitle="Lorem ipsum dolor sit amet, consectetur adipisicing elit."
      cardDescription="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, quia molestiae. Molestias culpa id amet. Qui optio beatae error repellendus cupiditate neque assumenda?"
    >
    </app-medium-card>
  </div>
</div>
