<div class="container__menu-bar">
  <div class="menu-bar">
    <div class="menu-bar__logo">
      <span>A</span>
    </div>
    <nav>
      <ul>
        <li><a href="#">Learn</a></li>
        <li><a href="#" class="active">Blog</a></li>
        <li><a href="#">Bookmarks</a></li>
        <li><a href="#">UI Kit</a></li>
        <li><a href="#">Lain NYA</a></li>
      </ul>
    </nav>
  </div>
  <div class="menu-bar__social">
    <ul>
      <li>
        <a href="https://www.linkedin.com/in/devanse/">
          <img src="../../../assets/icons/linkedin.png" alt="linkedin-icon">
        </a>
      </li>
      <li>
        <a href="https://github.com/DevAnseSenior">
          <img src="../../../assets/icons/github.png" alt="github-icon">
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/@DevilAnseSenior">
          <img src="../../../assets/icons/youtube.png" alt="youtube-icon">
        </a>
      </li>
    </ul>
  </div>
  <div class="responsive-menu">
    <img src="../../../assets/icons/burger-bar.png" alt="burguer-pic">
  </div>
</div>
